@font-face {
	font-family: 'OpenSans-Light';
	src: url('/font/OpenSans-Light.ttf');
}  
html, body {
	height: 100%;
    width: 100%;
	margin: 0px;
	padding: 0px;
	font: 100%/1.5em 'OpenSans-Light';
}
h1, h2, h4 {
	margin-bottom: 4%;
}
h1 {
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h2 {
    color: #60798F;
    font-size: 19px;
    margin: 33px 0px 0px 2px;
}
h4 {
    color: #9CB1BF;
    font-size: 16.5px;
    margin: 7px 0px 0px 2px;
}
p {
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.2px;
    margin: 0px 0px 0px 1px;
}
ul {
    padding-left: 26px;
    margin: 5px 0px 0px -7px;
}
a {
	text-decoration: none;
}
.header {
	background-color: #2B4967;
    color: #FFFFFF;
    height: 56px;
    box-sizing: border-box;
    padding-top: 12px;
}
.imgFloat {
	width: 24px;
	height: 24px;
    float: left;
    box-sizing: border-box;
    margin: 4px 0px 0px 4px; 
}
.pHeader {
    text-align: center;
    box-sizing: border-box;
    font-size: 21px;
    margin: 8px 27px 0px 0px
}
.wrapper {
    margin: 5px 12px 0px 12px;
}
.img {
    margin-top: 8px;
    width: 100%;
}
.appsStudio {
    margin: 17px 0px 9px 2px;
    font-size: 21px;
    font-weight: bold;
    color: #223D58;
}
.holdingAppstudioGroup {
	margin: 28px 0px 0px 1px;
    font-size: 16px;
}
.ul_margin_li {
	margin: 4px 0px 0px 0px;
}
.after_ul_text {
	margin: 32px 0px 17px 1px;
}
.socialNetworks {
    background-color: #FFFFFF;
    color: #375E86;
    border: 1px #223D58 solid;
    border-radius: 3px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 11px 0px 8px 60px;
    margin-top: 5px;
}
.icon {
    float: left;
    box-sizing: border-box;
    margin: 4px 0px 0px -30px;
	height: 100%; 
}
.nameButton {
    margin: 3px 46px 0px 0px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
.appsstudio {
    margin-bottom: 20px;
}